.login
= form_with(model: @team, local: true) do |form|
  新規登録
  .formbox
    = form.text_field :name, placeholder: "チーム名"
  .formbox
    -# = form.text_field :image, placeholder: "写真"
  .formbox
    = form.email_field :name, placeholder: "メールアドレス"
  .formbox
    = form.password_field :name, placeholder: "パスワード"
  .formbtn
    = form.submit "SEND"
