.wrapper 
  = form_with model: @post, class: :form, local: true do |form|
  .head
    .header__logo
      soccer11
    .header__message
      自分のチームのフォーメーションを登録しよう
    .contents
      .contents-data
        .myteam
          <i class="fas fa-tshirt"></i>日本代表
        .infomation
          .date
            %label 試合した日
            = form.text_area :content, pla
            %input#date{name: "date", type: "date", value: ""}/
          .match
            %form{action: "//www-creators.com/rsc/receiver.php", method: "post"}
              %label 対戦相手
              %input#match{maxlength: "10", name: "battle", placeholder: "対戦相手", type: "text", value: ""}/
          .result
            %form{action: "//www-creators.com/rsc/receiver.php", method: "post"}
              %label 試合結果
              %input#result{maxlength: "10", name: "result", placeholder: "試合結果", type: "text", value: ""}/
  .mains
    .contents-formation
      .formation
        .selection
          .fotmation-select
        .formation-fields
          .player
            .switch-contents
              %input#layout-4-4-2{checked: "checked", name: "layout", type: "radio", varue: "4-4-2"}/
              %label{for: "layout-4-4-2"} 4-4-2
              %input#layout-4-5-1{name: "layout", type: "radio", varue: "4-5-1"}/
              %label{for: "layout-4-5-1"} 4-5-1
              %input#layout-4-3-3{name: "layout", type: "radio", varue: "4-3-3"}/
              %label{for: "layout-4-3-3"} 4-3-3
              %input#layout-3-5-2{name: "layout", type: "radio", varue: "3-5-2"}/
              %label{for: "layout-3-5-2"} 3-5-2
              %ul
                  = form.text_area :content, placeholder: :選手名, id: :num11
                  = form.text_area :content, placeholder: :選手名, id: :num10
                  = form.text_area :content, placeholder: :選手名, id: :num9
                  = form.text_area :content, placeholder: :選手名, id: :num8
                  = form.text_area :content, placeholder: :選手名, id: :num7
                  = form.text_area :content, placeholder: :選手名, id: :num6
                  = form.text_area :content, placeholder: :選手名, id: :num5
                  = form.text_area :content, placeholder: :選手名, id: :num4
                  = form.text_area :content, placeholder: :選手名, id: :num3
                  = form.text_area :content, placeholder: :選手名, id: :num2
                  = form.text_area :content, placeholder: :選手名, id: :num1
                  = form.submit '編集する', class: :form__btn


        
