= render "header"
.wrapper
  .mains
    .contents-formation
      .formation
        .selection
          .fotmation-select
        .formation-fields
          .player
            .switch-contents
              %input#layout-4-4-2{checked: "checked", name: "layout", type: "radio", varue: "4-4-2"}/
              %label{for: "layout-4-4-2"} 4-4-2
              %input#layout-4-5-1{name: "layout", type: "radio", varue: "4-5-1"}/
              %label{for: "layout-4-5-1"} 4-5-1
              %input#layout-4-3-3{name: "layout", type: "radio", varue: "4-3-3"}/
              %label{for: "layout-4-3-3"} 4-3-3
              %input#layout-3-5-2{name: "layout", type: "radio", varue: "3-5-2"}/
              %label{for: "layout-3-5-2"} 3-5-2
              %ul
                = form_with model: @post, class: :form, local: true do |form|
                  = form.text_area :content, placeholder: :選手名, id: :num11
                  = form.text_area :content, placeholder: :選手名, id: :num10
                  = form.text_area :content, placeholder: :選手名, id: :num9
                  = form.text_area :content, placeholder: :選手名, id: :num8
                  = form.text_area :content, placeholder: :選手名, id: :num7
                  = form.text_area :content, placeholder: :選手名, id: :num6
                  = form.text_area :content, placeholder: :選手名, id: :num5
                  = form.text_area :content, placeholder: :選手名, id: :num4
                  = form.text_area :content, placeholder: :選手名, id: :num3
                  = form.text_area :content, placeholder: :選手名, id: :num2
                  = form.text_area :content, placeholder: :選手名, id: :num1
                  = form.submit '投稿する', class: :form__btn